
@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
      {
            <p>
                aranacak müşteri Adı:@Html.TextBox("p")

                <input type="submit" value="Ara" />
            </p>
      }
<table class="table table-bordered">
    <tr>
        <th>MUSTERI ID</th>
        <th>MUSTERI ADI</th>
        <th>MUSTERI SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ALERT</th>
    </tr>

    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <td>@mus.MUSTERIID</td>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                <td><a href="/MUSTERI/SIL/@mus.MUSTERIID" class="btn btn-danger">SİL</a></td>
                <td><a href="/MUSTERI/MusteriGetir/@mus.MUSTERIID" class="btn btn-success">GUNCELLE</a></td>
                <td>@Html.ActionLink("SİL BUTONU", "SIL", new { id = mus.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('gercekten sılmek sıtıyormusunuz')" })</td>
            </tr>
            }
    </tbody>
</table>
<a href="/MUSTERI/YeniMusteri/" class="btn btn-primary"> YENİ Musteri EKLE</a>



