@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <form  method="get">

        <fieldset>
            Film türünü Seçiniz <select id="MovieType" name="MovieType">

                <option value=""></option>

                <option value="0">Aksiyon</option>

                <option value="1">Drama</option>

                <option selected="selected" value="2">Komedi</option>

                <option value="3">Bilim Kurgu</option>
                <option value="3">Korku</option>
                <option value="3">Animaston</option>
                <option value="3">Fantastik</option>

            </select>

        </fieldset>

    </form>
</main>